:root {
    --background-color: #f7f9fc;
    --background-card: #ffffff;
    --text-color: #262626;
    --valorTrans: 1;
}

html[data-theme='light'] {
    --background-color: #f7f9fc;
    --background-card: #ffffff;
    --text-color: #262626;
    --valorTrans: 1;


}

html[data-theme='dark'] {
    --background-color: #262626;
    --background-card: #3c3c3c;
    --text-color: #ffffff;
    --valorTrans: 0.8;

}


body{
    margin:0;
    font-family: 'Heebo', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
   
}

section {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    background: rgb(252 74 26);
    background: linear-gradient(90deg, rgba(252,74,26, var(--valorTrans)) 0%, rgba(247,183,51,var(--valorTrans)) 100%);
}

.custom-shape-divider-bottom-1667738701 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1667738701 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1667738701 .shape-fill {
    fill: var(--background-color);
}

.logo-movil{
    height: 11vh;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.1));
}

.logo{
    height: 15vh;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.1));
}

nav{
    background: rgb(252,74,26);
    background: linear-gradient(90deg, rgba(252,74,26, var(--valorTrans)) 0%, rgba(247,183,51,var(--valorTrans)) 100%);
}

.parpadea {
  
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.9; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
    89% { opacity: 1.0; }
     90% { opacity: 0.4; }
     95% { opacity: 1.0; }
     96% { opacity: 0.1; }
    100% { opacity: 1.0; }
  }

.card{
    box-shadow: 0 0 0.9rem 0 rgb(41 48 66 / 5%);
    margin-bottom: 24px;
    --bs-card-spacer-y: 1.25rem;
    --bs-card-spacer-x: 1.25rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: 0.25rem;
    --bs-card-inner-border-radius: 0.25rem;
    --bs-card-cap-padding-y: 1rem;
    --bs-card-cap-padding-x: 1.25rem;
    --bs-card-cap-bg: var(--background-card);
    --bs-card-bg: var(--background-card);;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 12px;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--bs-card-bg);
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    display: flex;
    flex-direction: column;
    height: var(--bs-card-height);
    min-width: 0;
    position: relative;
}

.stat-sm {
    height: 40px;
    padding: 0.625rem;
    width: 40px;
}
.stat {
    background: var(--background-color);
    border-radius: 50%;
    height: 48px;
    padding: 0.75rem;
    width: 48px;
}

.stat-min {
    background-color: rgba(75,191,115,.175);
    color: color-yiq(rgba(75,191,115,.175));
    color: #4bbf73;
}

.stat-max {
    background-color: rgba(217,83,79,.175);
    color: color-yiq(rgba(217,83,79,.175));
    color: #d9534f;
}

.stat-med {
    background-color: rgba(217, 143, 79, 0.175);
    color: color-yiq(rgba(217, 157, 79, 0.175));
    color: #d9844f;
}



.badge-soft-danger {
    background-color: rgba(217,83,79,.175);
    color: color-yiq(rgba(217,83,79,.175));
    color: #d9534f;
    font-size: 1rem;

}

.badge-soft-primary {
    background-color: rgba(217, 143, 79, 0.175);
    color: color-yiq(rgba(217, 157, 79, 0.175));
    color: #d9844f;
    font-size: 1rem;

}


.badge-soft-success {
    background-color: rgba(75,191,115,.175);
    color: color-yiq(rgba(75,191,115,.175));
    color: #4bbf73;
    font-size: 1rem;
}

.text-muted{
    font-size: 1.1rem;
}
.card-title{
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    font-weight: 500;
    line-height: 1.2;
}


.time-title{
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}



[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
    color: var(--background-color);
}

.d-block-light:hover,
.d-block-dark:hover {
    color: var(--text-color) !important;
}
.navbar{
    padding: 20px 20px;
}
